/* ROOT Variables */

/* ----------------------- */
/*          Base           */
/* ----------------------- */

/* ----------------------- */
/*          UTILS          */
/* ----------------------- */
/* Display */
.flex {
    display: flex;
}

.block {
    display: block;
}

.none {
    display: none;
}

/* Layout */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}
